.code-correct {
    padding: 2px;
    background-color: darkseagreen;
    margin-top: 5px;
}

.code-disabled > pre, .code-incorrect > pre, .code-correct > pre {
    margin: 0;
}

.code-incorrect {
    padding: 2px;
    background-color: crimson;
    margin-top: 5px;
}

.code-disabled {
    padding: 2px;
    background-color: bisque;
    margin-top: 5px;
}